<div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Género</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
        <th scope="col">Color de ojos</th>
        <th scope="col">Guardar</th>
      </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
  </table>
<div style="text-align: center">
  <button type="button" class="btn btn-primary" id="seeMore">Ver más</button>
</div>
</div>